/*------------------------------------------------------------------

@Author: CodeoStudio
@URL:    http://codeostudio.hr/
@Date:   04/1/2017

[Table of contents]

1. Body
2. Wrapper
3. Shortcodes
    3.1 Typography
    3.2 Columns
    3.3 Blockquotes
    3.4 Pullquotes
    3.5 Dropcap
    3.6 Buttons
    3.7 Alerts
    3.8 Forms
    3.9 Accordions
    3.10 Tabs
    3.11 Service boxes
    3.12 Spacers
    3.13 Blockquotes
4. Sidebar
    4.1 Widget - search
    4.2 Widget - recent entries
    4.3 Widget - calendar
    4.4 Widget - tags
    4.5 Widget - popular posts
    4.6 Widget - banner 300x250
    4.7 Widget - email subscribe
    4.8 Widget - post list
    4.9 Widget - comments
    4.10 Widget - social icons
    4.11 Widget - trending posts
5. Off-canvas wrap
    5.1 Off-canvas nav
    5.3 Toggle nav
6. Header
    6.1 Header top
    6.2 Header cart
    6.3 Header top menu
    6.4 Header middle
    6.5 Header social
    6.6 Header logo
    6.7 Header search
    6.8 Header main

8. Posts
    8.1 Global
    8.2 Classic style
    8.3 List style
    8.4 Grid style 2 columns
    8.5 Grid style 3 columns
9. Single post
    9.1 Related articles
    9.2 Post controls
    9.3 Post content
    9.4 Comments and respond
10. Pages
    10.1 Page title
    10.2 Advertsiement
    10.3 Section title
    10.4 Author page
    10.5 404 Error

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    1. Body
-------------------------------------------------------------------*/
body,
html {}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
body.locked {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.cs-container:before,
.cs-container:after,
.cs-clearfix:before,
.cs-clearfix:after,
.cs-row:before,
.cs-row:after {
    content: " ";
    display: table
}
.cs-container:after,
.cs-clearfix:after,
.cs-row:after {
    clear: both
}

/*------------------------------------------------------------------
    2. Wrapper
-------------------------------------------------------------------*/
#cs-wrapper {
    background-color: #fff;
    width: 100%
}
.cs-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px
}
.cs-main-content {
    width: 100%;
    margin-bottom: 40px
}
.cs-main-content:before,
.cs-main-content:after {
    content: " ";
    display: table
}
.cs-main-content:after {
    clear: both
}
.cs-main-content.cs-sidebar-on-the-right {
    float: left;
    width: 73.5%;
    padding-right: 4.5%
}
.cs-main-content.cs-sidebar-on-the-left {
    float: right;
    width: 73.5%;
    padding-left: 4.5%
}
.cs-main-content.cs-full-width {
    width: 100%
}

/*------------------------------------------------------------------
    3. Shortcoodes
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    3.1 Typography
-------------------------------------------------------------------*/
a {
    text-decoration: none;
    outline: 0;
    color: #000;
    background-color: transparent;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}
a:hover {
    text-decoration: none;
    color: #f37021
}
a:focus,
a:active {
    outline: 0;
    border: 0;
    text-decoration: none
}
img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    text-decoration: none;
    outline: 0;
    border: 0
}
a img {
    text-decoration: none;
    outline: 0;
    border: 0
}
iframe,
object,
video {
    max-width: 100%
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-weight: 700;
    margin: 0 0 20px 0
}
h1 {
    font-size: 30px;
    line-height: 38px
}
h2 {
    font-size: 26px;
    line-height: 34px
}
h3 {
    font-size: 22px;
    line-height: 30px
}
h4 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px
}
h5 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px
}
h6 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px
}
p {
    margin: 0 0 20px 0
}
hr {
    clear: both;
    display: block;
    overflow: hidden;
    border: 0;
    height: 0;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.text_left {
    text-align: left
}
.text_right {
    text-align: right
}
.text_center {
    text-align: center
}
.text_justify {
    text-align: justify
}
.alignleft,
img.alignleft {
    float: left;
    margin: 5px 40px 20px 0
}
.alignright,
img.alignright {
    float: right;
    margin: 5px 0 20px 40px
}
.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin: 30px auto
}
.wp-caption {
    text-align: center;
    max-width: 100%
}
.wp-caption img {
    max-width: 100%
}
.wp-caption-text {
    font-size: 13px;
    color: #555;
    padding: 6px 0 2px 0
}
code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
pre {
    display: block;
    overflow: hidden;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f1f1f1;
    border: none
}
mark {
    padding: 2px 4px;
    background-color: #f1f1f1
}
kbd {
    padding: 2px 4px;
    font-size: 13px;
    color: #fff;
    background-color: #000
}
code {
    padding: 2px 4px;
    font-size: 13px;
    background-color: #f1f1f1
}
ol,
ul {
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 20px
}
ul {
    list-style: disc
}
ol {
    list-style: decimal
}
ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0
}
dl {
    margin-top: 0;
    margin-bottom: 20px
}
dt {
    font-weight: 700
}
dd {
    margin-left: 10px
}
address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 24px
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 40px;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #ddd
}
table thead {
    background-color: #eee;
    color: #000
}
table tr:nth-child(even) {
    background-color: #f9f9f9
}
th,
td {
    text-align: left;
    padding: 8px;
    vertical-align: bottom;
    border: 1px solid #ddd
}
ul.page-numbers {
    margin-bottom: 20px;
    list-style: none;
    padding: 0;
    clear: both;
}
ul.page-numbers:before,
ul.page-numbers:after {
    content: " ";
    display: table
}
ul.page-numbers:after {
    clear: both
}
ul.page-numbers li {
    display: block;
    float: left;
    margin-right: 3px;
    margin-left: 3px
}
ul.page-numbers li span,
ul.page-numbers li a {
    display: block;
    padding: 10px 14px;
    line-height: 1;
    background-color: #eee;;
    color: #888;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}
ul.page-numbers li span.current {
    color: #fff
}

/*------------------------------------------------------------------
    3.2 Columns
-------------------------------------------------------------------*/
.cs-row {
    position: relative;
    margin-left: -15px;
    margin-right: -15px
}
[class *= "cs-col"] {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
.cs-col-1 {
    width: 8.33333333%
}
.cs-col-2 {
    width: 16.66666667%
}
.cs-col-3 {
    width: 25%
}
.cs-col-4 {
    width: 33.33333333%
}
.cs-col-5 {
    width: 41.66666667%
}
.cs-col-6 {
    width: 50%
}
.cs-col-7 {
    width: 58.33333333%
}
.cs-col-8 {
    width: 66.66666667%
}
.cs-col-9 {
    width: 75%
}
.cs-col-10 {
    width: 83.33333333%
}
.cs-col-11 {
    width: 91.66666667%
}
.cs-col-12 {
    width: 100%
}

/*------------------------------------------------------------------
    3.3 Blockquotes
-------------------------------------------------------------------*/
blockquote {
    padding: 10px 0 10px 30px;
    margin: 20px 0 40px 0;
    border-left-width: 5px;
    border-left-style: solid;
}
blockquote p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #000
}
blockquote footer {
    display: block;
    font-size: 14px;
    color: #000
}

/*------------------------------------------------------------------
    3.4 Pullquotes
-------------------------------------------------------------------*/
.pullquotes {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    z-index: 1;
    color: #000
}
.pullquotes.left {
    float: left;
    width: 40%;
    margin: 10px 40px 20px 0;
}
.pullquotes.center {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    clear: both
}
.pullquotes.right {
    float: right;
    text-align: right;
    width: 40%;
    margin: 10px 0 20px 40px
}

/*------------------------------------------------------------------
    3.5 Dropcap
-------------------------------------------------------------------*/
.cs-dropcap:first-letter {
    float: left;
    display: block;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px 0 15px;
    font-weight: 400;
    color: #000
}

/*------------------------------------------------------------------
    3.6 Buttons
-------------------------------------------------------------------*/
.cs-btn {
    display: inline-block;
    padding: 8px 13px;
    margin: 0 5px 5px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    outline: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #f37021;
    color: #fff;
    position: relative;
    border: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.cs-btn.cs-btn-small {
    padding: 6px 10px;
    font-size: 12px
}
.cs-btn.cs-btn-large {
    padding: 8px 20px;
    font-size: 18px
}
.cs-btn.cs-btn-extralarge {
    padding: 16px 32px;
    font-size: 24px
}
.cs-btn.cs-btn-expand {
    width: 100%;
    display: block
}
.cs-btn.cs-btn-expand + .cs-btn.cs-btn-expand {
    margin-top: 5px
}
.cs-btn.cs-btn-white {
    background-color: #f5f5f5;
    color: #333
}
.cs-btn.cs-btn-white:hover {
    color: #000;
    background-color: #eee
}
.cs-btn.cs-btn-black {
    background-color: #222
}
.cs-btn.cs-btn-red {
    background-color: #683c17
}
.cs-btn.cs-btn-green {
    background-color: #71a866
}
.cs-btn.cs-btn-tirquese {
    background-color: #7fccbc
}
.cs-btn.cs-btn-blue {
    background-color: #508fd1
}
.cs-btn.cs-btn-pink {
    background-color: #9d5fac
}
.cs-btn.cs-btn-orange {
    background-color: #c47839
} 
.cs-btn.cs-btn-grey {
    background-color: #b1b0a7
}
.cs-btn.cs-btn-with-icon {
    padding-left: 44px
}
.cs-btn.cs-btn-small.cs-btn-with-icon {
    padding-left: 34px
}
.cs-btn.cs-btn-large.cs-btn-with-icon {
    padding-left: 58px
}
.cs-btn.cs-btn-extralarge.cs-btn-with-icon {
    padding-left: 86px
}
.cs-btn.cs-btn-with-icon i {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    text-align: center
}
.cs-btn.cs-btn-with-icon i {
    width: 30px;
    line-height: 30px;
    font-size: 12px;
    background-color: #000;
    background-color: rgba(0,0,0,0.2)
}
.cs-btn.cs-btn-small.cs-btn-with-icon i {
    width: 26px;
    line-height: 26px;
    font-size: 10px;
}
.cs-btn.cs-btn-large.cs-btn-with-icon i {
    width: 38px;
    line-height: 38px;
    font-size: 14px;
}
.cs-btn.cs-btn-extralarge.cs-btn-with-icon i {
    width: 54px;
    line-height: 54px;
    font-size: 20px;
}
.cs-btn:hover {
    background-color: #000;
    color: #fff;
}

/*------------------------------------------------------------------
    3.7 Alerts
-------------------------------------------------------------------*/
.cs-alert {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    color: #fff
}
.cs-alert p {
    overflow: hidden;
    margin: 2px 0 0 30px
}
.cs-alert i {
    position: absolute;
    left: 20px;
    top: 20px
}
.cs-alert.cs-alert-green {
    background-color: #EBF6E0;
    color: #5f9025
}
.cs-alert.cs-alert-blue {
    background-color: #E9F7FE;
    color: #5091b2
}
.cs-alert.cs-alert-red {
    background-color: #ffe9e9;
    color: #de5959
}
.cs-alert.cs-alert-yellow {
    background-color: #FBFADD;
    color: #8f872e
}

/*------------------------------------------------------------------
    3.8 Forms
-------------------------------------------------------------------*/
form {
    position: relative;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit
}
textarea {
    width: 100%;
    min-height: 180px
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    color: #000
}
label input[type="checkbox"],
label input[type="radio"] {
    float: left;
    margin-top: 4px;
    margin-right: 8px
}
input[type="text"],
input[type="password"],
input[type="url"],
input[type="phone"],
input[type="number"],
input[type="email"],
input[type="datetime"],
input[type="search"],
input[type="tel"],
textarea,
select {
    padding: 10px 15px;
    outline: none;
    font-size: 14px;
    color: #555;
    margin: 0;
    max-width: 100%;
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    font-weight: 400;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="phone"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="datetime"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
textarea:focus {
    color: #000;
    border: 1px solid #999
}

/*------------------------------------------------------------------
    3.9 Accordions
-------------------------------------------------------------------*/
.cs-accordion-group {
    margin-bottom: 40px
}
.cs-accordion-group .cs-accordion-title {
    color: #000;
    outline: none;
    cursor: pointer;
    padding: 10px;
    padding-left: 55px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    border: 1px solid #eee
}
.cs-accordion-group .cs-accordion-title:after {
    font-family: 'FontAwesome';
    content: "\f105";
    font-size: 12px;
    position: absolute;
    left: 20px;
    top: 13px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.cs-accordion-group .cs-accordion-title.ui-state-active:after {
    font-family: 'FontAwesome';
    content: "\f107";
}
.cs-accordion-group .cs-accordion-panel {
    padding: 20px 0;
}
.cs-accordion-group .cs-accordion-panel + .cs-accordion-title {
    margin-top: -1px
}
.cs-accordion-group .cs-accordion-panel p:last-child {
    margin: 0
}

/*------------------------------------------------------------------
    3.10 Tabs
-------------------------------------------------------------------*/
.cs-tab-group {
    margin-bottom: 40px
}
.cs-tab-group .ui-tabs-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden
}
.cs-tab-group .ui-tabs-nav li {
    float: left;
}
.cs-tab-group .ui-tabs-nav li a {
    outline: none;
    display: block;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #000
}
.cs-tab-group .ui-tabs-panel {
    margin-top: -1px;
    padding: 20px 0 0 0;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #eee
}
.cs-tab-group .ui-tabs-panel p:last-child {
    margin: 0
}
.cs-tab-group .ui-tabs-nav li.ui-tabs-active a,
.cs-tab-group .ui-tabs-nav li:hover a {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

/*------------------------------------------------------------------
    3.11 Service boxes
-------------------------------------------------------------------*/
.cs-service-box {
    margin-bottom: 40px
}
.cs-service-box i {
    font-size: 32px;
    margin-bottom: 8px;
    color: #ddd
}
.cs-service-box h4 {
    margin: 0 0 10px 0
}

/*------------------------------------------------------------------
    3.12 Spacers
-------------------------------------------------------------------*/
.cs-spacer {
    display: block;
    position: relative;
    width: 100%;
    clear: both;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1px;
    background-color: #eee;
    color: #999;
    text-align: center
}
.cs-spacer i {
    width: 40px;
    height: 30px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -20px;
    text-align: center;
    line-height: 30px;
    background-color: #fff !important
}

/*------------------------------------------------------------------
    3.13 Blockquotes
-------------------------------------------------------------------*/
blockquote.alt {
    text-align: center;
    border: 0;
}
blockquote.alt p {
    font-size: 28px;
    line-height: 40px;
    font-weight: 400
}
blockquote.alt i {
    font-size: 22px
}

/*------------------------------------------------------------------
    4. Sidebar
-------------------------------------------------------------------*/
.cs-main-sidebar {
    float: left;
    width: 26.5%;
    margin-bottom: 40px
}
.widget {
    margin-bottom: 40px
}
.widget a {}
.widget input[type="search"],
.widget select {
    width: 100%
}
.widget-title {
	margin-bottom: 20px;
    border-top: 3px solid #eee;
    padding-top: 15px;
	font-weight: 700;
	color: #5288b5;
	font-size: 16px;
	line-height: 1;
}
.widget_text {
    font-size: 14px;
    line-height: 22px;
}

/* Global */
.widget_archive ul,
.widget_categories ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_nav_menu ul,
.widget_links ul,
.widget_pages ul,
.widget_recent_entries ul,
.widget_rss ul,
.widget_product_categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 22px
}
.widget_archive ul li,
.widget_categories ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_nav_menu ul li,
.widget_links ul li,
.widget_pages ul li,
.widget_recent_entries ul li,
.widget_rss ul li,
.widget_product_categories ul li {
    border-top: 1px solid #eee;
    padding: 5px 0;
    color: #555
}
.widget_archive ul li:first-child,
.widget_categories ul li:first-child,
.widget_links ul li:first-child,
.widget_meta ul li:first-child,
.widget_nav_menu ul li:first-child,
.widget_pages ul li:first-child,
.widget_recent_comments ul li:first-child,
.widget_recent_entries ul li:first-child,
.widget_rss ul li:first-child,
.widget_product_categories ul li:first-child {
    border-top: 0;
    padding-top: 0;
    padding-bottom: 5px
}
.widget_archive ul li:last-child,
.widget_categories ul li:last-child,
.widget_links ul li:last-child,
.widget_meta ul li:last-child,
.widget_nav_menu ul li:last-child,
.widget_pages ul li:last-child,
.widget_recent_comments ul li:last-child,
.widget_recent_entries ul li:last-child,
.widget_rss ul li:last-child,
.widget_product_categories ul li:last-child {
    padding-bottom: 0
}
.widget_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children,
.widget_product_categories .children {
    border-top: 1px solid #eee;
    padding-top: 5px;
    margin: 5px 0 0 15px
}
.widget_recent_comments ul li a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/*------------------------------------------------------------------
    4.1 Widget - search
-------------------------------------------------------------------*/
.widget_search button,
.widget_product_search input[type="submit"],
.widget_search input[type="submit"],
.widget_search form .screen-reader-text,
.widget_product_search form .screen-reader-text {
    display: none
}
.widget_search input[type="search"] {
    width: 100%;
    display: block;
}

/*------------------------------------------------------------------
    4.2 Widget - recent entries
-------------------------------------------------------------------*/
.widget_recent_entries .post-date {
    display: block;
    font-size: 12px;
}

/*------------------------------------------------------------------
    4.3 Widget - calendar
-------------------------------------------------------------------*/
.widget_calendar caption {
    margin-bottom: 5px
}
.widget_calendar thead {
    background-color: #fdfdfd
}
.widget_calendar th,
.widget_calendar td {
    padding: 5px;
    text-align: center;
}

/*------------------------------------------------------------------
    4.4 Widget - tags
-------------------------------------------------------------------*/
.widget_tag_cloud .tagcloud:before,
.widget_tag_cloud .tagcloud:after {
    content: " ";
    display: table
}
.widget_tag_cloud .tagcloud:after {
    clear: both
}
.widget_tag_cloud .tagcloud a {
    display: block;
    float: left;
    font-size: 12px !important;
    padding: 8px 10px;
    line-height: 1;
    color: #fff;
    background-color: #f37021;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.widget_tag_cloud .tagcloud a:hover {
    background-color: #000
}

/*------------------------------------------------------------------
    5.10 Widget - post list
-------------------------------------------------------------------*/
.widget_post_list ul {
    list-style: none;
    padding: 0;
    margin: 0
}
.widget_post_list ul li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.widget_post_list ul li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0
}
.widget_post_list ul li .cs-post-type {
    margin-bottom: 0
}
.widget_post_list ul li .cs-post-type .cs-post-image {
    width: 80px;
    float: left;
    margin-right: 15px;
    margin-bottom: 0
}
.widget_post_list ul li .cs-post-type .cs-post-body {
    overflow: hidden;
}
.widget_post_list ul li .cs-post-type .cs-post-body h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 3px
}
.widget_post_list ul li .cs-post-type .cs-post-meta {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0
}

/*------------------------------------------------------------------
    5. Off-canvas wrap
-------------------------------------------------------------------*/
.cs-offcanvas-wrap {
    background-color: #fff;
    position: fixed;
    width: 100%;
    left: -100%;
    height: 100%;
    z-index: 99999;
    overflow-y: scroll;
    font-size: 14px;
    line-height: 24px
}
.cs-offcanvas-wrap.active {
    left: 0
}
.cs-offcanvas-wrap .cs-offcanvas-close {
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #5288b5;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3
}

/*------------------------------------------------------------------
    5.1 Off-canvas nav
-------------------------------------------------------------------*/
.cs-offcanvas-nav {
    border-top: 40px solid #f37021
}
.cs-offcanvas-nav nav ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0
}
.cs-offcanvas-nav nav ul li {
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
    border-top: 1px solid #eee
}
.cs-offcanvas-nav nav ul li a {
    display: inline-block;
    padding: 5px 20px
}
.cs-offcanvas-nav nav > ul > li > a {
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}
.cs-offcanvas-nav nav ul li.menu-item-has-children i {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 18px;
    color: #000;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    transition: transform 0.2s;
}
.cs-offcanvas-nav nav ul li.show-sub-menu > i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.cs-offcanvas-nav ul.sub-menu {}
.cs-offcanvas-nav ul.sub-menu li a {
    padding-left: 40px
}
.cs-offcanvas-nav ul.sub-menu ul li a {
    padding-left: 60px
}
.cs-offcanvas-nav ul.sub-menu ul ul li a {
    padding-left: 80px
}
.cs-offcanvas-nav ul.sub-menu ul ul ul li a {
    padding-left: 100px
}

/*------------------------------------------------------------------
    5.3 Toggle nav
-------------------------------------------------------------------*/
.cs-toggle-nav {
    display: none;
    background-color: #5288b5;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

/*------------------------------------------------------------------
    6. Header
-------------------------------------------------------------------*/
#cs-header {
    margin-bottom: 40px
}

/*------------------------------------------------------------------
    6.8 Header main
-------------------------------------------------------------------*/
.cs-primary-nav {
    background-color: #f37021;
    position: fixed;
    width: 100%;
    z-index: 999
}
.cs-primary-nav > nav {
    display: table;
    margin: 0 auto
}
.cs-primary-nav > nav > ul {
    list-style: none;
    padding: 0;
    margin: 0
}
.cs-primary-nav > nav > ul > li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.cs-primary-nav > nav > ul > li > a {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    display: block;
    color: #fff;
    opacity: 0.7
}
.cs-primary-nav > nav > ul > li.current-menu-item > a,
.cs-primary-nav > nav > ul > li:hover > a {
    color: #fff;
    opacity: 1
}
.cs-primary-nav > nav > ul > li.menu-item-has-children > a {
    padding-right: 12px
}
.cs-primary-nav > nav > ul > li.menu-item-has-children > a:after {
    position: absolute;
    right: 0;
    top: -2px;
    font-family: "FontAwesome";
    content: "\f0dd";
    color: #fff;
    font-size: 10px;
    font-style: normal;
}
.cs-primary-nav ul.sub-menu {
    background-color: #5288b5;
    font-size: 14px;
    display: none;
    list-style: none;
    margin: 0;
    position: absolute;
    left: 0;
    z-index: 9;
    min-width: 220px;
    padding: 20px;
    margin-left: -20px;
}
.cs-primary-nav ul.sub-menu ul.sub-menu {
    left: 100%;
    margin-left: 0;
    margin-top: -20px;
    top: 0
}
.cs-primary-nav li:hover > ul.sub-menu {
    display: block
}
.cs-primary-nav ul.sub-menu li.menu-item-has-children > a:after {
    position: absolute;
    right: 1px;
    top: 6px;
    font-family: "FontAwesome";
    content: "\f0da";
    color: #fff;
    font-size: 8px;
    font-style: normal;
}
.cs-primary-nav ul.sub-menu li {
    position: relative;
    border-top: 1px solid rgba(255,255,255,0.2)
}
.cs-primary-nav ul.sub-menu li:first-child {
    border-top: 0
}
.cs-primary-nav ul.sub-menu li a {
    color: #fff;
    opacity: 0.7;
    display: block;
    padding: 5px 0
}
.cs-primary-nav ul.sub-menu li a:hover {
    color: #fff;
    opacity: 1.0;
}

/*------------------------------------------------------------------
    6.9 Header hero
-------------------------------------------------------------------*/
.cs-header-hero {
    height: 300px;
    width: 100%;
    display: table;
    padding-top: 50px;
    background-color: #eee
}

/*------------------------------------------------------------------
    6.6 Header logo
-------------------------------------------------------------------*/
.cs-header-logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*------------------------------------------------------------------
    Featured posts
-------------------------------------------------------------------*/
.cs-featured-post {
    margin-bottom: 40px;
    display: block;
    clear: both;
    position: relative;
}
.cs-featured-post .cs-featured-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    padding: 30px;
    max-width: 70%
}
.cs-featured-post .cs-featured-caption h1 {}
.cs-featured-post .cs-featured-caption p {
    margin: 0
}
.cs-featured-post img {
    width: 100%
}

/*------------------------------------------------------------------
    8. Posts
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    8.1 Global
-------------------------------------------------------------------*/
.cs-post-type:before,
.cs-post-type:after {
    content: " ";
    display: table
}
.cs-post-type:after {
    clear: both
}
.cs-post-type {
    margin-bottom: 40px
}
.cs-post-type .cs-post-image {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}
.cs-post-type .cs-post-image img {
    width: 100%
}
.cs-post-type .cs-post-body {
    position: relative;
}
.cs-post-type .cs-post-body h3 {
    margin-bottom: 0
}
.cs-post-type .cs-post-body h3 a {
    display: block;
    color: #000
}
.cs-post-type .cs-post-body h3 a:hover {
    color: #f37021;
}
.cs-post-type .cs-post-body p {
    margin-top: 10px;
    margin-bottom: 0
}
.cs-post-type .cs-post-meta {
    position: relative;
    font-size: 12px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee
}
.cs-post-type .cs-post-meta time {
    display: inline-block;
    line-height: 26px;
    padding-left: 16px;
    color: #999
}
.cs-post-type .cs-post-meta time:before {
    color: #f37021;
    width: 20px;
    display: block;
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    top: 0;
    content: "\f133"
}
.cs-post-type .cs-post-meta .cs-post-share {
    position: absolute;
    right: 0;
    top: 0
}
.cs-post-type .cs-post-meta .cs-post-share .cs-share-open {
    cursor: pointer;
    color: #999;
    background-color: #eee;
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.cs-post-type .cs-post-meta .cs-post-share .cs-share-icons {
    position: absolute;
    left: -100px;
    top: 0;
    width: 84px;
    font-size: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0;
}
.cs-post-type .cs-post-meta .cs-post-share:hover .cs-share-icons {
    left: -86px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 1;
}
.cs-post-type .cs-post-meta .cs-post-share .cs-share-icons a {
    cursor: pointer;
    color: #999;
    background-color: #eee;
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 2px
}
.cs-post-type .cs-post-meta .cs-post-share .cs-share-icons a:hover {
    color: #fff
}
.cs-post-type .cs-post-meta .cs-post-share .cs-share-icons a.facebook:hover {
    background-color: #3b5999
}
.cs-post-type .cs-post-meta .cs-post-share .cs-share-icons a.twitter:hover {
    background-color: #55acee
}
.cs-post-type .cs-post-meta .cs-post-share .cs-share-icons a.google:hover {
    background-color: #dd4b39
}

/*------------------------------------------------------------------
    Quote type
-------------------------------------------------------------------*/
.cs-post-type.cs-quote-type .cs-post-body h3:before {
    font-family: 'FontAwesome';
    content: "\f10e";
    color: #5288b5;
    display: block;
    margin-bottom: 10px
}
.cs-post-type.cs-quote-type .cs-post-body h3 {
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    background-color: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 30px
}

/*------------------------------------------------------------------
    8.1 Posts column
-------------------------------------------------------------------*/
.cs-posts-column {
    float: left;
}
.cs-posts-column > h3 {
    color: #5288b5
}
.cs-posts-column.big {
    width: 60%;
    padding-right: 30px
}
.cs-posts-column.small {
    width: 40%
}
.cs-posts-column.small .cs-post-type .cs-post-body h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px
}

/*------------------------------------------------------------------
    9. Single post
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    9.1 Related articles
-------------------------------------------------------------------*/
.cs-related-articles:before,
.cs-related-articles:after {
    content: " ";
    display: table
}
.cs-related-articles:after {
    clear: both
}
.cs-related-articles .cs-post-type {
    width: 31.3%;
    float: left;
    margin-right: 3%;
    margin-bottom: 60px
}
.cs-related-articles .cs-post-type:nth-child(1) {
    clear: left;
}
.cs-related-articles .cs-post-type:nth-child(3) {
    margin-right: 0
}
.cs-related-articles .cs-post-type .cs-post-image {
    margin-bottom: 15px;
}
.cs-related-articles:not(.cs-full-width) .cs-post-type .cs-post-body h3 {
    font-size: 16px;
    line-height: 24px;
}

/*------------------------------------------------------------------
    9.2 Post controls
-------------------------------------------------------------------*/
.cs-post-single-controls {
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px
}
.cs-post-single-controls a {
    width: 49.5%;
    margin-right: 1%;
    float: left;
    text-align: center;
    padding: 8px 13px;
    background-color: #eee;
    color: #999;
    text-transform: uppercase
}
.cs-post-single-controls a:last-child {
    margin-right: 0
}
.cs-post-single-controls a i {
    margin: 0 10px
}
.cs-post-single-controls a:hover {
    background-color: #000;
    color: #fff
}

/*------------------------------------------------------------------
    9.3 Post content
-------------------------------------------------------------------*/
.cs-post-single {
    margin-bottom: 30px
}
.cs-post-single .cs-post-single-header h1 {
    margin: 0
}
.cs-post-single .cs-post-single-header h3 {
    color: #999;
    font-weight: 400;
    margin: 10px 0 20px 0
}
.cs-post-single .cs-post-meta {
    margin-bottom: 20px
}
.cs-post-single-media {
    padding: 0;
    margin: 30px 0;
    position: relative;
}
.cs-container > .cs-post-single-media {
    margin-top: 0;
    margin-bottom: 40px
}
.cs-post-single-media img,
.cs-post-single-media video,
.cs-post-single-media audio {
    width: 100%
}
.cs-post-single .cs-post-single-tags {
    font-size: 0
}
.cs-post-single .cs-post-single-tags a {
    display: inline-block;
    font-size: 12px !important;
    padding: 8px 10px;
    line-height: 1;
    color: #fff;
    background-color: #f37021;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.cs-post-single .cs-post-single-tags a:hover {
    background-color: #000
}
.cs-post-single .mashsb-container {
    margin-bottom: 20px;
    padding: 0
}
.cs-post-single .mashsb-box .mashsb-buttons {
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 -3px
}
.cs-post-single .mashsb-box .mashsb-buttons a {
    margin: 0 3px;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    flex-grow: 1
}
.cs-post-single .mashsb-box .mashsb-buttons a:last-child {
    margin-right: 0
}
.cs-post-single .mashsb-box .mashsb-buttons a:hover {
    background-color: #000
}
.cs-post-single-media .swiper-button-prev, 
.cs-post-single-media .swiper-button-next {
    background: transparent;
    top: 50%;
    margin-top: -25px;
    line-height: 50px;
    font-size: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: #000;
    opacity: 1
}
.cs-post-single-media .swiper-button-prev.swiper-button-disabled,
.cs-post-single-media .swiper-button-next.swiper-button-disabled {
  opacity: 0.3
}
.cs-post-single-media .swiper-button-prev {
    left: 10px
}
.cs-post-single-media .swiper-button-next {
    right: 10px
}

/*------------------------------------------------------------------
    9.4 Comments and respond
-------------------------------------------------------------------*/
.no_comments {
    text-align: center;
    margin-bottom: 30px
}
.no_comments i {
    font-size: 32px;
    color: #999
}
.no_comments h4 {
    margin-bottom: 0
}
.no_comments p {
    font-size: 14px;
    line-height: 22px
}
#commentform {
    margin-bottom: 60px
}
#commentform:before,
#commentform:after {
    content: " ";
    display: table
}
#commentform:after {
    clear: both
}
p.comment-info {
    background-color: #f5f5f5;
    padding: 20px
}
p.comment-info i,
p.comment-info strong {
    color: #000
}
#commentform .comment-form-author input,
#commentform .comment-form-email input,
#commentform .comment-form-url input {
    width: 100%
}
#commentform .comment-form-author,
#commentform .comment-form-email,
#commentform .comment-form-url {
    width: 31.3%;
    float: left;
    margin-right: 3%
}
#commentform .comment-form-url {
    margin-right: 0
}
#commentform .form-submit {
    clear: both;
}
#commentform .form-submit input[type="submit"] {
    display: inline-block;
    padding: 8px 13px;
    margin: 0 5px 5px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    outline: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    color: #fff;
    position: relative;
    border: 0;
    background-color: #000;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}
.cs-comment-list,
.cs-comment-list ol,
.cs-comment-list ul {
    list-style: none;
    padding: 0;
    margin: 0
}
.cs-comment-list ul.children {
    margin-left: 80px
}
.cs-comment-list .cs-comment {
    margin-bottom: 40px
}
.cs-comment-list .cs-comment-author {
    overflow: hidden;
}
.cs-comment-list .cs-comment-author img {
    width: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-right: 20px
}
.cs-comment-list .cs-comment-author div {
    overflow: hidden;
    padding-top: 15px
}
.cs-comment-list .cs-comment-author div b {
    display: block;
    line-height: 13px;
}
.cs-comment-list .cs-comment-author div b a {
    color: #000
}
.cs-comment-list .cs-comment-author div time {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: #888;
}
.cs-comment-list .cs-comment-content {
    margin-left: 80px;
    position: relative;
}
.cs-comment-list .pingback .cs-comment-content {
    margin-left: 0;
    margin-top: 10px
}
.cs-comment-list .cs-comment-content a.cs-reply {
    position: absolute;
    right: 0;
    top: -34px;
    font-size: 10px;
    padding: 4px 8px;
    line-height: 1;
    color: #fff
}
.cs-comment-list .cs-comment-content a.cs-reply:hover {
    color: #fff;
    background-color: #000
}

/*------------------------------------------------------------------
    10. Pages
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    10.1 Page title
-------------------------------------------------------------------*/
.cs-page-title {
    margin-bottom: 40px
}
.cs-page-title h1 {
    margin: 0;
}
.cs-page-title h3 {
    color: #555;
    font-weight: 400;
    margin: 8px 0 0 0;
    font-size: 18px;
    line-height: 26px;
}

/*------------------------------------------------------------------
    10.2 404 Error
-------------------------------------------------------------------*/
.cs-404-page {
    padding: 100px 0;
    text-align: center;
}
.cs-404-page h3 {
    font-size: 130px;
    font-weight: 400;
    line-height: 120px
}
.cs-404-page form {
    margin: 30px 0
}
.cs-404-page form input {
    display: inline-block;
    width: 350px
}

/*------------------------------------------------------------------
    10.3 Pridruzi se
-------------------------------------------------------------------*/
form.wpcf7-form input[type="text"],
form.wpcf7-form input[type="password"],
form.wpcf7-form input[type="url"],
form.wpcf7-form input[type="phone"],
form.wpcf7-form input[type="number"],
form.wpcf7-form input[type="email"],
form.wpcf7-form input[type="datetime"],
form.wpcf7-form input[type="search"],
form.wpcf7-form input[type="tel"],
form.wpcf7-form textarea,
form.wpcf7-form select {
    width: 100%
}
form.wpcf7-form label {
    display: block;
    margin-bottom: 5px
}
form.wpcf7-form input[type="submit"] {
    display: inline-block;
    padding: 10px 12px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    outline: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #f37021;
    color: #fff;
    position: relative;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}
form.wpcf7-form input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}

/*------------------------------------------------------------------
    10.4 Call to action
-------------------------------------------------------------------*/
.cs-call-to-action {
    text-align: center;
    background-color: #f37021;
    padding: 30px 0
}
.cs-call-to-action h3 {
    color: #fff;
    margin: 0 0 10px 0;
    font-size: 30px;
    line-height: 38px
}
.cs-call-to-action p {
    color: #fff
}
.cs-call-to-action .cs-btn {
    background-color: #fff;
    color: #f37021
}

/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/
#cs-footer {
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
}
#cs-footer p {
    margin: 0
}
#cs-footer a {
    font-weight: 700
}

/*------------------------------------------------------------------
    14. Responsive rules
-------------------------------------------------------------------*/
/* styles for screens between 768px and 1024 */
@media screen and (min-width: 1024px) {
    [class *= "cs-col"] {
        float: left;
    }
}

/* styles for screens between 768px and 1024 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    [class *= "cs-col"] {
        float: left;
    }
    .cs-main-content,
    .cs-main-content.cs-sidebar-on-the-right,
    .cs-main-content.cs-sidebar-on-the-left,
    .cs-main-content.cs-sidebar-on-both-sides {
        width: 100%;
        padding-left: 0;
        padding-right: 0
    }
    .cs-main-sidebar {
        width: 100%
    }
}

/* styles for mobile browsers smaller than 768px */
@media screen and (max-width: 768px) {
    [class *= "cs-col"] {
        width: 100%
    }
    .cs-main-content,
    .cs-main-content.cs-sidebar-on-the-right,
    .cs-main-content.cs-sidebar-on-the-left,
    .cs-main-content.cs-sidebar-on-both-sides {
        width: 100%;
        padding-left: 0;
        padding-right: 0
    }
    .cs-main-sidebar {
        width: 100%
    }
    .cs-toggle-nav {
        display: block;
    }
    .cs-primary-nav nav {
        display: none;
    }
    .cs-header-hero {
        height: 200px;
        padding-top: 40px
    }
    .cs-header-logo img {
        height: 80px
    }
}

/* styles for mobile browsers smaller than 480px */
@media screen and (max-width: 480px) {}